<%- include("./partials/header.ejs") %>
<div class="hero">
        <div class="floating-car"><i class="fas fa-car"></i></div>
        <div class="floating-car"><i class="fas fa-taxi"></i></div>
        <div class="floating-car"><i class="fas fa-shuttle-van"></i></div>
        <div class="floating-car"><i class="fas fa-motorcycle"></i></div>
        
        <h1>Find Your Perfect Ride, Anywhere, Anytime</h1>
        <p>Experience vehicle sharing with our seamless platform. Book cars, bikes, or vans in seconds.</p>
        <a href="/login" class="cta-button">Find Your Ride Now</a>
</div>
<%- include("./partials/footer.ejs") %>